.p
{
	background-color: lightgreen;
	color: red;
}
h2
{
	background-color: lightyellow;
	color: pink;
}
.p1
{
	background-color: none;
	color: violet;
}
#si
{
	color: blue;

}
#s2
{
	color: yellow;
}